<html>
    <head>
        <title>Mini Message Board</title>
        <link rel="stylesheet" href="/styles-master.css">
        <link rel="stylesheet" href="/styles-index.css">
    </head>
    <body>
        <%- include('messages/messages', {messages: messages}) %>
        <div>
            <a href="/new"><button>Add new post</button></a>
        </div>
    </body>
</html>