<a href="/message/<%= message.id %>">
    <div class="message-cont">
        <h2><%= message.user %></h2>
        <p><%= message.text %></p>
        <p class="date"><%= message.added %></p>
    </div>
</a>
