body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

h2 {
    margin-bottom: 20px;
}

form {
    width: 100%;
}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-inputs > li {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

li>input, li>textarea {
    border: none;
    padding: 4px 8px;
    font-size: 18px;
    border-radius: 5px;
}